<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
        integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
        integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM'
        crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title></title>
</head>

<body class='container'>
    <%- include('./partials/navbar.ejs') %>
    <% let capTitle = title.charAt(0).toUpperCase() + title.substr(1) %>
    <header class='container'>
        <h1 class='text-center'><%= capTitle %> Data</h1>
    </header>
    <div>
        <table class='table'>
            <thead>
                <% header.forEach(oneHeader => { %>
                <th scope='col'><%= oneHeader %></th>
                <% }) %>
            </thead>
            <tbody>
                <% data.forEach((oneRecord,index) => { %>
                <tr>
                    <% let record = oneRecord.dataValues%>
                    <td><%= index +1%></td>
                    <td><a href="/player/<%=record.id%>"><%= record.name%></a></td>
                    <td><%= record.team%></td>
                    <td><%= record.dpi%></td>
                    <td><%= record.hz%></td>
                    <td><%= record.sensitivity%></td>
                    <td><%= record.zoom_sens%></td>
                    <td><%= record.mouse_accel%></td>
                    <td><%= record.raw_input%></td>
                    <td>
                        <% record.Peripherals.forEach((per) => {%>
                        <%if (per.type==="mouse") {%>
                        <%=per.brand + " " + per.name %>
                        <% }%>
                        <% }) %>
                    </td>
                    <td>
                        <% record.Peripherals.forEach((per) => {%>
                        <%if (per.type==="mousepad") {%>
                        <%=per.brand + " " + per.name %>
                        <% }%>
                        <% }) %>
                    </td>
                    <td>
                        <% record.Peripherals.forEach((per) => {%>
                        <%if (per.type==="keyboard") {%>
                        <%=per.brand + " " + per.name %>
                        <% }%>
                        <% }) %>
                    </td>
                    <td>
                        <% record.Peripherals.forEach((per) => {%>
                        <%if (per.type==="headset") {%>
                        <%=per.brand + " " + per.name %>
                        <% }%>
                        <% }) %>
                    </td>
                    <td> <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal<%=record.id%>">crosshair of <%= record.name %></button></td>
                    <td> <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal2<%=record.id%>">viewModel of <%= record.name %></button></td>
  <!-- Trigger the modal with a button -->
  <!-- Modal -->
  <div class="modal fade" id="myModal<%=record.id%>" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">crosshair of <%= record.name %></h4>
        </div>
        <div class="modal-body">
                <code><%=record.crosshair%></code>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal2<%=record.id%>" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">crosshair of <%= record.name %></h4>
            </div>
            <div class="modal-body">
                    <code><%=record.view_model%></code>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
          
        </div>
      </div>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <h3 class='text-center'><a href='/'>Back to Homepage</a></h3>
    </div>
</body>

</html>