<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'
        integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
        integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM'
        crossorigin='anonymous'></script>
        
    <title></title>
</head>

<body class='container'>
    <%- include('./partials/navbar.ejs') %>
    <% let capTitle = title.charAt(0).toUpperCase() + title.substr(1) %>
    <header class='container'>
        <h1 class='text-center'><%= capTitle %> Data</h1>
    </header>
    <div>
        <table class='table'>
            <thead>
                <% header.forEach(oneHeader => { %>
                <th scope='col'><%= oneHeader %></th>
                <% }) %>
            </thead>
            <tbody>
                <% data.forEach((oneRecord,index) => { %>
                <tr>
                    <% let record = oneRecord.dataValues%>
                    <td><%= index +1%></td>
                    <td><%= record.name%></td>
                    <td><%= record.brand%></td>
                    <td><%= record.type%></td>
    

                </tr>
                <% }) %>
            </tbody>
        </table>
        <div class="form-group">
                <form action="/peripherals/statistic?">
                <label for=""> choose type peripherals to see stats: </label>
                <select class="form-control" name="type" required>
                        <option value="monitor">monitor</option>
                        <option value="mouse">mouse</option>
                        <option value="mousepad">mousepad</option>
                        <option value="keyboard">keyboard</option>
                        <option value="headset">headset</option>


                  </select>
                  <input type="submit">
                </form>
           </div>
        <% if(datas!==null) {%>
        <canvas id="myChart" width="7" height="7"></canvas>
        <% } %>
        <h3 class='text-center'><a href='/'>Back to Homepage</a></h3>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="./myChart.js"></script>
<script>
    var label =  <%- JSON.stringify(labels) %> 
    var masuk = [<%=datas%>]
    label = `${label}`.split(',')
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: label,
        datasets: [{
            label: '# of Votes',
            data: masuk,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
</html>